/*-------Reset de Css----------*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

#bootstrap_navbar {
  background-color: rgb(203, 144, 96);
}

.container-fluid {
  font-family: "Roboto", sans-serif;
}

.main {
  text-align: center;
}

#article_main {
  font-family: "Roboto", sans-serif;
}

.titulo_main {
  font-size: 60px;
  font-family: impact;
  padding-top: 20px;
  padding-bottom: 20px;
}

.subtitulo_main {
  padding-bottom: 25px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#portada {
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 450px;
  height: 400px;
}

.present {
  padding-top: 30px;
  font-weight: bold;
  font-family: "Caveat", cursive;
  font-size: xx-large;
}

.video {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-container {
  background-color: rgb(189, 115, 19);
  padding-bottom: 60px;
  padding-left: 50px;
  font-weight: 500;
}

.h2_contacto {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 800;
  font-family: "Lucida Sans";
}

.terminos {
  color: rgb(22, 38, 146);
  font-family: "Roboto", sans-serif;
}

.condiciones {
  padding-bottom: 50px;
  padding-left: 15px;
}

.fondo_condiciones {
  padding-bottom: 35px;
}

.titulo_condiciones {
  padding-left: 10px;
}

.subtitulo_condiciones {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

/*---------galeria-----------*/
.img_galeria {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 2fr));
  grid-auto-rows: auto;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Animacion y Transformacion */
.imgimg {
  width: 450px;
  height: 280px;
  max-width: 450px;
  max-height: 300px;
  transition: transform 0.3s ease-in-out;
}

.imgimg:hover {
  transform: scale(1.2);
}

/*menu de cartas*/
.fondo_cartas {
  display: grid;
  grid-template-columns: auto;
  grid-column: 2/3;
  align-content: center;
}

.img_cartas {
  display: grid;
  grid-template-columns: auto;
  grid-column: 2/3;
  image-resolution: auto;
}

.footer {
  display: flex;
  gap: 112px;
  height: 30px;
  justify-content: center;
  padding-top: 15px;
  padding-left: 0;
  margin: 0px;
  text-align: center;
}

.foottxt {
  display: flex;
  padding-bottom: 10px;
  padding-top: 15px;
  justify-content: center;
  margin-bottom: auto;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: wheat;
}

.ftlinks {
  color: aliceblue;
}

#bootstrap_navbar {
  background-color: rgb(203, 144, 96);
}

h1 h2 {
  background-color: burlywood;
}

.main {
  background-color: burlywood;
}

.footer {
  color: aliceblue;
  background-color: black;
}

.foottxt {
  color: beige;
  background-color: black;
}

.condiciones {
  background-color: burlywood;
}

.fondo_condiciones {
  background-color: rgb(232, 195, 147);
}

.img_galeria {
  background-color: rgb(232, 195, 147);
}

.fondo_cartas {
  background-color: rgb(232, 195, 147);
}

.form-container {
  background-color: burlywood;
}

/*---------------------------INDEX----------------------------*/
@media only screen and (max-width: 980px) and (min-width: 821px) {
  .portada {
    max-width: 450px;
    max-height: 400px;
  }
}
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .portada {
    max-width: 400px;
    max-height: 320;
  }
}
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .portada {
    max-width: 350px;
    max-height: 300;
  }
}
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .portada {
    max-width: 300px;
    max-height: 260px;
  }
}
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .portada {
    max-width: 300px;
    max-height: 220;
  }
}
@media only screen and (max-width: 980px) and (min-width: 821px) {
  .video {
    max-width: 450px;
    max-height: 400px;
  }
}
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .video {
    max-width: 400px;
    max-height: 320;
  }
}
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .video {
    max-width: 350px;
    max-height: 300;
  }
}
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .video {
    max-width: 300px;
    max-height: 260px;
  }
}
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .viedo {
    max-width: 300px;
    max-height: 220;
  }
}
/*---------------------------GALERIA---------------------------*/
@media only screen and (max-width: none) and (min-width: 621px) {
  .imgimg {
    max-width: 450px;
    max-height: 400px;
  }
}
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .imgimg {
    max-width: 400px;
    max-height: 320px;
  }
}
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .imgimg {
    display: grid;
    max-width: 350px;
    max-height: 300;
  }
}
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .imgimg {
    display: grid;
    padding-left: 50px;
    max-width: 350px;
    max-height: 220px;
  }
}
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .imgimg {
    display: grid;
    max-width: 300px;
    max-height: 220px;
  }
}
/*--------------------------CARTAS----------------------------*/
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .carta_entradas {
    max-width: 640px;
    max-height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    touch-action: auto;
  }
}
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .carta_entradas {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 520px;
    max-height: auto;
  }
}
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .carta_entradas {
    padding-top: 100px;
    padding-bottom: 160px;
    max-width: 340px;
    max-height: auto;
    touch-action: auto;
  }
}
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .carta_entradas {
    display: grid;
    max-width: 300px;
    max-height: 220px;
    touch-action: auto;
  }
}
/*-------------------------MEDIAS Q DE CARTAS DE POSTRES------------------------*/
@media only screen and (max-width: 3160px) and (min-width: 621px) {
  .carta_postre {
    max-width: 640px;
    max-height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    touch-action: auto;
  }
}
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .carta_postre {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 520px;
    max-height: auto;
  }
}
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .carta_postre {
    padding-top: 200px;
    padding-bottom: 150px;
    max-width: 345px;
    max-height: auto;
    touch-action: auto;
  }
}
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .carta_postre {
    display: grid;
    max-width: 300px;
    max-height: 220px;
    touch-action: auto;
  }
}
/*-------------------------MEDIAS Q DE CARTAS DE PLATOS PRINCIPALES------------------------*/
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .carta_principales {
    max-width: 620px;
    max-height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    touch-action: auto;
  }
}
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .carta_principales {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 500px;
    max-height: auto;
  }
}
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .carta_principales {
    padding-top: 100px;
    padding-bottom: 160px;
    max-width: 340px;
    max-height: auto;
    touch-action: auto;
  }
}
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .carta_principales {
    display: grid;
    max-width: 300px;
    max-height: 220px;
    touch-action: auto;
  }
}/*# sourceMappingURL=main.css.map */