* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/*portada*/

/*Navbar de Bootstrap*/
#bootstrap_navbar {
    background-color: rgb(203, 144, 96);
}

.container-fluid {
    font-family: 'Roboto', sans-serif;
}

.main {
    text-align: center;
    background-color: wheat;
}

#article_main {
    font-family: 'Roboto', sans-serif
}

.titulo {
    padding-bottom: 20px;
}

#portada {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.titulo_main {
    font-size: 60px;
    font-family: impact;
    padding-top: 20px;
    padding-bottom: 20px;
}

.subtitulo_main {
    padding-bottom: 25px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.present {
    padding-top: 30px;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: xx-large;
}

.video {
    padding-top: 40px;
    padding-bottom: 40px;
}

h1 {
    background-color: burlywood;
}

h2 {
    background-color: burlywood;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Pie de Pagina*/

.footer {
    display: flex;
    gap: 112px;
    height: 30px;
    color: aliceblue;
    background-color: black;
    justify-content: center;
    padding-top: 15px;
    padding-left: 0;
    margin: 0px;
    text-align: center;
}

.foottxt {
    display: flex;
    color: beige;
    padding-bottom: 10px;
    padding-top: 15px;
    background-color: black;
    justify-content: center;
    margin-bottom: auto;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: wheat;
}

.ftlinks {
    color: aliceblue;
}

/*terminos y condiciones - RESPONSIVE*/

.condiciones {
    background-color: burlywood;
    padding-bottom: 50px;
    padding-left: 15px;
}

.fondo_condiciones {
    background-color: rgb(232, 195, 147);
    padding-bottom: 35px;
}

.titulo_condiciones {
    padding-left: 10px;
}

.subtitulo_condiciones {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

/*galeria* -RESPONSIVE */

.img_galeria {
    display: grid;
    padding: 4em;
    background-color: rgb(232, 195, 147);
    gap: 4rem;
    grid-template-columns: repeat(auto-fit,
            minmax(25rem,
                2fr));
    grid-auto-rows: auto;
    gap: 2rem;
    overflow: hidden;
}

/* Animacion y Transformacion */
.imgimg {
    width: 450px;
    height: 300px;
    transition: transform .3s ease-in-out;
}

.imgimg:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    .img_galeria {
        display: grid;
        padding-left: 3rem;
    }
}

/*menu de cartas*/

.fondo_cartas {
    display: grid;
    grid-template-columns: auto;
    grid-column: 2/3;
    align-content: center;
    background-color: rgb(232, 195, 147);
}

.img_cartas {
    display: grid;
    grid-template-columns: auto;
    grid-column: 2/3;
    image-resolution: auto;
}

.carta_postre {
    padding: 5em;
}

.carta_entradas {
    padding: 2em;
}

.carta_principales {
    padding: 2em;
}

/*pagina de contacto*/

.h1_contacto {
    font-family: 'Roboto', sans-serif;
}

.h2_contacto {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

/*formulario */
.form-container {
    background-color: rgb(232, 195, 147);
    padding-bottom: 60px;
    padding-left: 50px;
    font-weight: 500;
}

.txt_nombre {
    margin-left: 50px;
    padding-left: 100px;
}

.dni {
    margin-left: 15px;
    padding-left: 100px
}

.email {
    margin-left: 50px;
    padding-left: 100px;
}

.celu {
    margin-left: 47px;
    padding-left: 100px
}
