#bootstrap_navbar {
    background-color: rgb(203, 144, 96);
}

h1 h2 {
    background-color: burlywood;
}

.main {
    background-color: burlywood;
}

.footer {
    color: aliceblue;
    background-color: black;
}
.foottxt {
    color: beige;
    background-color: black;
}

.condiciones {
    background-color: burlywood;
}

.fondo_condiciones {
    background-color: rgb(232, 195, 147);
}

.img_galeria {
    background-color: rgb(232, 195, 147);
}

.fondo_cartas {
    background-color: rgb(232, 195, 147);
}
.form-container {
    background-color: burlywood;
}