
/*---------------------------INDEX----------------------------*/

@media only screen and (max-width: 980px) and (min-width: 821px) {  
    .portada {
        max-width: 450px;
        max-height: 400px;
    }
}  

@media only screen and (max-width: 820px) and (min-width: 621px) {
    .portada {
        max-width: 400px;
        max-height: 320;
    }

}  

@media only screen and (max-width: 620px) and (min-width: 501px) { 
    .portada {
        max-width: 350px;
        max-height: 300;
    }
}  

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    .portada {
        max-width: 300px;
        max-height: 260px;
    }
}  

@media only screen and (max-width: 340px) and (min-width: 5px)  {  
    .portada {
        max-width: 300px;
        max-height: 220;
    }
}

@media only screen and (max-width: 980px) and (min-width: 821px) {  
    .video {
        max-width: 450px;
        max-height: 400px;
    }
}  

@media only screen and (max-width: 820px) and (min-width: 621px) {
    .video {
        max-width: 400px;
        max-height: 320;
    }

}  

@media only screen and (max-width: 620px) and (min-width: 501px) { 
    .video {
        max-width: 350px;
        max-height: 300;
    }
}  

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    .video {
        max-width: 300px;
        max-height: 260px;
    }
}  

@media only screen and (max-width: 340px) and (min-width: 5px)  {  
    .viedo {
        max-width: 300px;
        max-height: 220;
    }
} 

/*---------------------------GALERIA---------------------------*/

@media only screen and (max-width:none ) and (min-width: 621px) {  
    .imgimg {
        max-width: 450px;
        max-height: 400px;
        
    }
}  

@media only screen and (max-width: 820px) and (min-width: 621px) {
    .imgimg {
        max-width: 400px;
        max-height: 320px;
    }

}  

@media only screen and (max-width: 620px) and (min-width: 501px) { 
    .imgimg {
        display: grid;
        max-width: 350px;
        max-height: 300;
    }
}  

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    .imgimg {
        display: grid;
        padding-left: 50px;
        max-width: 350px;
        max-height: 220px;
    }
}  

@media only screen and (max-width: 340px) and (min-width: 5px)  {  
    .imgimg {
        display: grid;
        max-width: 300px;
        max-height: 220px;
    }
} 

/*--------------------------CARTAS----------------------------*/

@media only screen and (max-width: 820px) and (min-width: 621px) {
    .carta_entradas {
        max-width: 640px;
        max-height: auto;
        padding-top: 100px;
        padding-bottom: 100px;
        touch-action: auto
    }

}  

@media only screen and (max-width: 620px) and (min-width: 501px) { 
    .carta_entradas {
        padding-top: 100px;
        padding-bottom: 100px;
        max-width: 520px;
        max-height: auto;
    }
}  

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    .carta_entradas {
        padding-top: 100px;
        padding-bottom: 160px;
        max-width: 340px;
        max-height: auto;
        touch-action: auto; 
    }
}  

@media only screen and (max-width: 340px) and (min-width: 5px)  {  
    .carta_entradas {
        display: grid;
        max-width: 300px;
        max-height: 220px;
        touch-action: auto
    }
} 


/*-------------------------MEDIAS Q DE CARTAS DE POSTRES------------------------*/


@media only screen and (max-width: 3160px) and (min-width: 621px) {
    .carta_postre {
        max-width: 640px;
        max-height: auto;
        padding-top: 200px;
        padding-bottom: 200px;        
        touch-action: auto
    }
}  

@media only screen and (max-width: 620px) and (min-width: 501px) { 
    .carta_postre {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 520px;
        max-height: auto;
    }
}  

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    .carta_postre {
        padding-top: 200px;
        padding-bottom: 150px;
        max-width: 345px;
        max-height: auto;
        touch-action: auto; 
    }
}  

@media only screen and (max-width: 340px) and (min-width: 5px)  {  
    .carta_postre {
        display: grid;
        max-width: 300px;
        max-height: 220px;
        touch-action: auto
    }
} 

/*-------------------------MEDIAS Q DE CARTAS DE PLATOS PRINCIPALES------------------------*/

@media only screen and (max-width: 820px) and (min-width: 621px) {
    .carta_principales {
        max-width: 620px;
        max-height: auto;
        padding-top: 100px;
        padding-bottom: 100px;
        touch-action: auto
    }

}  

@media only screen and (max-width: 620px) and (min-width: 501px) { 
    .carta_principales {
        padding-top: 100px;
        padding-bottom: 100px;
        max-width: 500px;
        max-height: auto;
    }
}  

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    .carta_principales {
        padding-top: 100px;
        padding-bottom: 160px;
        max-width: 340px;
        max-height: auto;
        touch-action: auto; 
    }
}  

@media only screen and (max-width: 340px) and (min-width: 5px)  {  
    .carta_principales {
        display: grid;
        max-width: 300px;
        max-height: 220px;
        touch-action: auto
    }
} 
